.columns {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input {
  font: menu;
}

#main-logo {
  align-items: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#developer-key {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
}

#chooseDirectory {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
}

#start-sync {
  background-color: #f7931e;
  margin-top: 1%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
}

#dev-key-error {
  color: red;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.tips {
  margin-top: 1%;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
