.columns {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  display: inline-block;
}

body,
input {
  font: menu;
}

#main-logo {
  align-items: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#developer-key {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
}

#school-code-block {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
}

#school-code {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 75px;
}

#instructure {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 170px;
}

#chooseDirectory {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
}

#start-sync {
  background-color: #f7931e;
  margin-top: 1%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
}

#go {
  background-color: #f7931e;
  margin-top: 1%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
}

.error-messages {
  color: red;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.tips {
  margin-top: 1%;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.instructions {
  margin-top: 1%;
  width: 275px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 36px;
}
